trec_corpus_5000.jsonl
trec_corpus_5000.jsonl.gz
trec_corpus_20220301_plain.json
trec_corpus_20220301_plain.json.gz
desktop.ini
dictionary.txt
postings.txt
__pycache__
100Lines.jsonl
1000Lines.jsonl
10000Lines.jsonl
dictionary2.txt
postings2.txt
sample.png
sample2.png
sample3.png
sample4.png
sample5.png
CPS842 Assignment 1 Report.pdf